@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap'); 

body{
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    color: #5F6A72;
    background-color: #1b1b1b;
}

/* .rudmPic{
    width:250px;
    height:370px;
    border-radius:5px;
    padding:0;
    overflow-y:visible;
    display:flex;
    background-size:cover;
    margin:10px 10px;
    cursor:pointer;
    display:inline-flex;
    margin-left:0;
<<<<<<< HEAD
} */
/* img {
=======
}
.weibochen {
>>>>>>> 4962960d39787b949070e381b5e4c82e2b3128b5
    max-width: 100%;
    height: auto;
  } */

  /*== ALBUM GRID ====*/
.serviceContainer {
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    padding: 0;
    grid-template:  "1fr 1fr 1fr 1fr" 45vh /* Manual Grid Creation */
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh;
                    /*"1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 10vh; */
    grid-gap: 5px;
}


.serviceContainer .box {
    position: relative;
    background: #ccc;
}

.serviceContainer .box.a {
    grid-row: span 2;
}

.serviceContainer .box.b {
    grid-column: span 2;
}
.serviceContainer .box.c {
    grid-row: span 3;
}

.serviceContainer .box.d {
    grid-column: span 3;
}

.serviceContainer .box.e {
    grid-column: span 4;
}
.serviceContainer .box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* - Fix bottom padding
    - Add shadow effect when hovering
    - Give lightbox options to move left and right 
    - Lightbox transition faster 
    - Fix album label*/

    @media screen and (min-width:992px) and (max-width: 1200px) {
        .serviceContainer {
            grid-template:  "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 45px;
            grid-gap: 5px;
        }
    }

@media (max-width: 992px) {
    .serviceContainer {
        grid-template:  "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 45px;
        grid-gap: 5px;
    }
}

@media (max-width: 768px) {
    
    .serviceContainer {
        grid-template:  "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 150px;
        grid-gap: 5px;
    }
}

@media (max-width: 576px) {
    
    .serviceContainer {
        grid-template:  "1fr 1fr" 150px
                        "1fr 1fr" 150px
                        "1fr 1fr" 150px
                        "1fr 1fr" 150px
                        "1fr 1fr" 150px
                        "1fr 1fr" 150px;
        grid-gap: 5px;
    }
}




.serviceContainerHab {
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    padding: 0;
    grid-template:  "1fr 1fr 1fr 1fr" 45vh /* Manual Grid Creation */
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh;
                   /* "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 10vh; */
    grid-gap: 5px;
}


.serviceContainerHab .box {
    position: relative;
    background: #ccc;
}

.serviceContainerHab .box.a {
    grid-row: span 2;
}

.serviceContainerHab .box.b {
    grid-column: span 2;
}
.serviceContainerHab .box.c {
    grid-row: span 3;
}

.serviceContainerHab .box.d {
    grid-column: span 3;
}

.serviceContainerHab .box.e {
    grid-column: span 4;
}
.serviceContainerHab .box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* - Fix bottom padding
    - Add shadow effect when hovering
    - Give lightbox options to move left and right 
    - Lightbox transition faster 
    - Fix album label*/

    @media screen and (min-width:992px) and (max-width: 1200px) {
        .serviceContainerHab {
            grid-template:  "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 45px;
            grid-gap: 5px;
        }
    }

@media (max-width: 992px) {
    .serviceContainerHab {
        grid-template:  "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 45px;
        grid-gap: 5px;
    }
}

@media (max-width: 768px) {
    
    .serviceContainerHab {
        grid-template:  "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 150px;
        grid-gap: 5px;
    }
}

@media (max-width: 576px) {
    
    .serviceContainerHab {
        grid-template:  "1fr 1fr" 150px
                        "1fr 1fr" 150px
                        "1fr 1fr" 150px
                        "1fr 1fr" 150px
                        "1fr 1fr" 150px
                        "1fr 1fr" 150px
                        "1fr 1fr" 150px
                        "1fr 1fr" 150px;
        grid-gap: 5px;
    }
}

.home-inner {
    background-image: url('img/fratImages/TauClassBestClass.jpg') 
}