@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap'); 

body{
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    color: #5F6A72;
    background-color: #1b1b1b; 
}
.sectionHeading {  /* Section Labels */
    text-align: center;
    color: white;
    font-size: 3rem;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;

}
.aboutSectionHeading {
    text-align: center;
    color: white;
    font-size: 2.3rem;
    letter-spacing: 0px;
    font-weight: 700;
    padding-bottom: 10px;  
}

.aboutSubSectionHeading {
    text-align: center;
    color: white;
    font-size: 1.7rem;
    letter-spacing: 0px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;  
}
.aboutSubSectionHeadingText {
    text-align: center;
    color: white;
    font-size: 1.7rem;
    letter-spacing: 0px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;  
}
.aboutSubSectionText {
    text-align: center;
    color: white;
    font-size: 1.3rem;
    letter-spacing: 0px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px; 
}
.pillarSectionHeading {
    text-align: center;
    color: white;
    font-size: 3rem;
    letter-spacing: 0px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px; 
}
.subSubSectionHeading {
    text-align: center;
    color: white;
    font-size: 2rem;
    letter-spacing: 0px;
    font-weight: 400;
    padding-bottom: 10px; 
}
.heading-underline {
    width: 3rem;
    height: .2rem;
    background-color: #CC0033;
    margin: 0 auto 2rem;
  }
  .iconShadow {
    filter:drop-shadow(0 0 0.75rem );
  }
/*======= Nav Scrolling Offset =====*/
.offset:before {
    height: 4rem;
    margin-top: -4rem;
    content: "";
    display: block;
}

/*===== Extra Bootstrap Column Padding =====*/
[class*="col-"] {
    padding: 1rem;
}

/*===== NAVIGATION =====*/
.navbar {
    padding: .7rem 1rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: .1rem;
    transition: background-color .5s ease 0s;
    text-shadow: 0.07rem 0.07rem 1rem black;
}
.narbar-brand img{
    height: 2rem;
}
.svg-inline--fa.fa-w-14 {
    color:white;
    font-size: 1.6rem;
}
.navbar-nav li {
    padding-right: .8rem;
}
.navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: #CC0033;
}
.nav-item {
    position: relative;
}
.navbar.solid {
    background: rgba(0,0,0,0.7)!important;
    transition: background-color 1s ease 0s;
}

/*--- Drop-down Menu --*/
.dropdown-menu, .dropdown-item {
    font-size: 1rem;
    font-weight: 500!important;
    background-color: transparent!important;
    border: 0;
    color: white;
  }
  .dropdown-menu.show {
    margin-top: .68rem!important;
    border-radius: 0;
    transition: background-color .5s ease 0s;
  }
  .dropdown-submenu {
    transition: background-color .5s ease 0s;
  }
  .dropdown-menu.no-space-top {
    margin-top: 1!important;
  }
  .dropdown-menu:hover, .dropdown-item:hover,
  .dropdown-menu:focus, .dropdown-item:focus,
  .dropdown-toggle:active, .dropdown-toggle:focus {
    color: #cc0033!important;
  }
  .dropdown-submenu.solid, .dropdown-menu.show.solid {
    background: rgba(0, 0, 0, 0.7)!important;
    transition: background-color 1s ease 0s;
  }
  
/* ===== Landing Page ===== */
.home-inner {
    background-image: url('img/fratImages/horizontal/TauClassBestClass.jpg') 
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
}

.caption h1 {
    color: white;
    font-size: 15 rem;
    font-weight: 600;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black; /* Horizontal, vertical, background blur */
}

.caption h2 {
    color: white;
    font-size: 25 rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
}

.caption h3 {
    color: white;
    font-size: 6 rem;
    font-weight: 500;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black; 
}

.caption h4 {
    color: white;
    font-size: 6 rem;
    font-weight: 500;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black; 
}
.requirements-bottom {
    padding-bottom: 70px;
}
/*== ABOUT SECTION ==*/
/* Three image containers (use 25% for four, and 50% for two, etc) */
/* .column { 
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers 
  .row::after {
    content: "";
    clear: both;
    display: table;
    
  } */
 
.aboutImgTitle {
    color: white;
    font-size: 1.9rem!important;
    padding-top: 13px;
  }

.aboutImage img {
    transition: transform .4s ease;
  }


.aboutImage img:hover {
    transform: scale(1.1);
    filter: brightness(66%);
    box-shadow:0 0 16px black;
    width: 100%;
    max-height: 100%;
}
.aboutImage {
    overflow: hidden;  
}
.aboutCaption {
    color: white;
    font-size: 1.4rem;
    display: center;
    padding: 1px;
}

/* Left and Right Side Card Images with Description */
/* ABOUT IMAGE CARDS */

.card {
    background-color: rgb(46, 46, 46);
    border: none;
} 
.card-title {
    color: white;
    font-size: 2.1rem;
}
.card-text {
    text-align: left;
    font-size: 1.4rem;
}
.card-img-top {
    width: 100%;
    max-height: 100%;
    
}
.aboutCardImageLeft {
    float: left;
    background: #000;
    width: 25%;
    height: 150px;
}

.content h4 {
    color: white;
    margin: 5px 0;
}

.jumbotron {
    background-color: rgb(46, 46, 46);
}
/* Removes ugly blue color when hovering over a link */
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }

@media (max-width:576px) {
    .miniSection {
        text-align: center;
    }
    .rush-text{
        width:576px!important;
        justify-content: center!important;
    }
  }
/*== RUSH SECTION ==*/
.rush-poster {
    max-width:100%;
    height:auto;
}
.rush-description {
    width: 500px;
    padding: 25px;
}

.contents .jumbotron {
    background-color: rgb(61, 61, 61);
    opacity: 0.6;   
}
.requirementsHeading {
    text-align: center;
    color: white;
    font-size: 1.7rem;
    letter-spacing: 0px;
    font-weight: 700; 
}
.requirementsList {
    text-align: center;
    color: white;
    font-size: 1.1rem;
    letter-spacing: 0px;
}
/*===== FIXED BACKGROUND =====*/
.albumHeading{
    padding-bottom: 530px;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
}
#fixed {
    background-image: url('img/fratImages/horizontal/BrosGivmas2018.jpg');
    z-index: -1;
  }
  .fixed-meetus {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 7rem 2rem;
    text-align: center;
    z-index: 1000!important;
  }
  .fixed-meetus h3, .fixed-meetus p {
    color: #E9ECEF;
  }

  
.card-text{
    text-align: center;
}

/*== ALBUM GRID ====*/
.container {
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    padding: 0;
    grid-template:  "1fr 1fr 1fr 1fr" 45vh /* Manual Grid Creation */
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 45vh
                    "1fr 1fr 1fr 1fr" 10vh;
    grid-gap: 5px;
}

.container .box {
    position: relative;
    background: #ccc;
}

.container .box.a {
    grid-row: span 2;
}

.container .box.b {
    grid-column: span 2;
}
.container .box.c {
    grid-row: span 3;
}

.container .box.d {
    grid-column: span 3;
}

.container .box.e {
    grid-column: span 4;
}
.container .box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* - Fix bottom padding
    - Add shadow effect when hovering
    - Give lightbox options to move left and right 
    - Lightbox transition faster 
    - Fix album label*/

    @media screen and (min-width:992px) and (max-width: 1200px) {
        .container {
            grid-template:  "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 250px
                            "1fr 1fr 1fr" 45px;
            grid-gap: 5px;
        }
    }

@media (max-width: 992px) {
    .container {
        grid-template:  "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 45px;
        grid-gap: 5px;
    }
}

@media (max-width: 768px) {
    
    .container {
        grid-template:  "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 150px;
        grid-gap: 5px;
    }
}

@media (max-width: 576px) {
    
    .container {
        grid-template:  "1fr 1fr" 150px
                        "1fr 1fr" 150px
                        "1fr 1fr" 150px
                        "1fr 1fr" 150px
                        "1fr 1fr" 150px
                        "1fr 1fr" 150px
                        "1fr 1fr" 150px
                        "1fr 1fr" 150px
                        "1fr 1fr" 150px
                        "1fr 1fr" 150px
                        "1fr 1fr" 150px
                        "1fr 1fr" 150px
                        "1fr 1fr" 150px;
        grid-gap: 5px;
    }
}
/*===== ALBUM PHOTO ====== */
/* .album-item img:hover { 
    box-shadow: #1b1b1b; fix 
    border: 1px solid grey;
}*/
.album-item img {
    transition: transform .4s ease;
}

/*===== Contact Section =====*/
footer {
    background: url('img/footer/footer.png') no-repeat; /* Change background photo */
    background-size: cover;
    color: white;
}
footer .row {
    background-color: rgba(57, 63, 70, 0.85);
    padding: 1rem 2rem 3rem;
}

footer img {
    height: 2rem;
    margin: 1.5rem 0;
}

footer a {
    color: white;
}

footer svg.svg-inline--fa{
    font-size: 1.6rem;
    margin: .3rem .5rem 0 0;
}

footer svg.svg-inline--fa:hover {
    color: #CC0033!important;
}

footer h3 {
    text-transform: uppercase;
    margin: 1.5rem 0;
}

/*===== Contact Section =====*/
.form-group {
    margin-bottom: .6rem;
}

.form-control {
    background-color: #53595f;
    border-radius: 0;
    border:.15rem solid#666B71;
    color: white!important;
    font-size: 1.1rem;
}

.form-control:focus {
    background: #53595f;
    border: .15rem solid#666B71;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #a3a3a1!important;
}

input.btn {
    cursor: pointer;
    /*border: .15rem solid#666B71; */
}

hr.socket {
    border-top: .2rem solid#666b71;
    width:100%
}
/*============= TOP SCROLL =============*/

.top-scroll svg.svg-inline--fa {
    font-size: 3rem;
    height: 1.7rem;
    color: #53595f;
    background: white;
  }
  a.top-scroll {
    right: 1.2rem;
    bottom: 1.2rem;
    position: fixed;
    opacity: .3;
    z-index: 1000;
    display: none;
  }
  a.top-scroll:hover {
    opacity: .5;
  }

  .hvrbox .hvrbox-layer_slideup {
	-moz-transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
}
.hvrbox:hover .hvrbox-layer_slideup,
.hvrbox.active .hvrbox-layer_slideup {
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}


/*====== NOTES
* Change contact form border color from blue to something else
* Need a logo in png form and ico form
* Landing Page Shadow over photo until it moves or something like that
* Change Color of the button for contact form
* Might Have to Use Alternate Contact Form because domain name
* Lightbox being wierd. Will pop up black the first time. Also no arrows to navigate left and right
*/
 /* Screen resize so navbar doesn't block content. This may not work on tablets and mobile tho.*/

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*== Meet The Family Section ==*/
.frat-position { /* Adjust Color */
    text-align: left;
    padding-top: 20px;
    padding-left: 10px;
    color: red;
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

.frat-class {
    text-align: center;
    color: gold;
    font-weight: 300;
    font-size: 2.9rem;
    padding-top: 100px;
    padding-bottom: 20px;
} 

.brotherPhoto{
	position:relative;
    width:250px;
    height:370px;
    /* float: left; */
    background-size:100%; 
    background-position:center;
    /* transition:0.5s; */
    /* overflow:hidden; */
    border-radius:4px;
	box-shadow:0 0 4px #000;
	/* overflow-y:visible; */
    /* display:flex; */
    background-size:cover;
    margin:10px 10px;
    margin-left:0;
  }
  
  .brotherPhoto span {
        position: absolute;
        top: 92%;
        left: 85%;
        bottom: 0;
        right: 0;
        color: #ddd;
        z-index: 2;
      }
      

  .brotherPhoto:before{             /* What is displayedBefore hover effect */
    position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      transform:translateY(90%);/*use transform:translateY(100%); to remove footer*/
      background-color:rgba(0,0,0,0.3);
      color:#fff;
      padding:0 8px;
      content:attr(name);
      text-align: left;
      transition:0.5s 0.1s;
      color:#fff;
      font-weight:bold;
      font-size:1.5em;

      
  }

  .brotherPhoto:after{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    color:#fff;
    padding:8px;
    content:attr(gradYear);
    text-align: left;
    transition:0.5s;
    padding-top:2em;
    margin-top:8px;
    transform:translateY(100%);
    opacity:0;
    }

   
    .brotherPhoto:hover:after{
        z-index: 1;
        transform:translateY(82%);
        transition:0.5s 0.1s; 
        opacity:1;

    }
    .brotherPhoto:hover:before{
        transform:translateY(80%);
        padding:8px;
        background-color:rgba(0,0,0,0.6);
        transition:0.5s;
  }

  
  /* .row.row-no-margin {
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .col-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  } */





/* DO NOT TOUCH OR CHANGE */
.brother{
    width:250px;
    height:370px;
    border-radius:5px;
    padding:0;
    overflow-y:visible;
    display:flex;
    background-size:cover;
    margin:10px 10px;
    /* cursor:pointer; */
    display:inline-flex;
    margin-left:0;
}

.brother>*{
    pointer-events:none
}

.brother-info {
    width:100%;
    text-align:left;
    -ms-flex-item-align:end;
    align-self:flex-end;
    padding-top:20px;
    padding-left:10px;
    background:#020024;
    color:#fff;
    font-family:Open Sans,sans-serif;
    border-radius:5px;
    background:-webkit-gradient(linear,left top,left bottom,from(rgba(2,0,36,0)),color-stop(86%,#080712),to(#0a0a0a));
    background:linear-gradient(180deg,rgba(2,0,36,0),#080712 86%,#0a0a0a)
}
/*.brother-name{}
.brother-role{} */

/* .brother:hover{
    -webkit-box-shadow:3px 5px 6px #dcdcdc; /* Hover color background shadow */
    /* box-shadow:3px 5px 6px #dcdcdc
}

.brother-info h5,.brother-info h6{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    max-width:95%
} */ 


@media(max-width:576px){
    .brother-cont .poly{
        display:block;
        position:absolute;
        content:" ";
        min-width:101%;
        height:300px;
        top:-299px;
        left:0;
        overflow:hidden;
        background-color:#fff;
        -webkit-clip-path:polygon(100% 74%,0 100%,100% 100%);
        clip-path:polygon(100% 74%,-10% 100%,100% 100%)
    }
    .brother-cont .poly .class-symbol{
        display:inline-block;
        font-weight:700;
        font-size:36px;
        color:#ad0909;
        position:absolute;
        bottom:15px;
        right:20px
    }
    .brother-pic{
        height:300px
    }
    }@media (max-width:330px){
        .brother-pic{
            height:200px
        }
    }
/* .brothers h1.section-title{
    margin-bottom:150px
} */
.brother-container,.eboard-container{
    padding:10px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-preferred-size:200px;
    flex-basis:200px;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
}
.class-title{
    padding-left:15px;
    color:#be1b5b;
    text-transform:uppercase;
    font-size:24px;
    font-weight:700
}
.brother-class__section{
    width:100%
}

@media(max-width:576px){
    .brother{
        min-width:160px;
        height:200px
    }
    .brother .brother-info *{
        font-size:.7rem
    }
    /* .mobile {
        min-width:160px;
        height:200px;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(6, calc(50% - 40px));
        grid-template-rows: minmax(150px, 1fr);
        overflow-x: scroll;
    } */
/* .brother__hold{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap;
    overflow-x:scroll
} */


















