@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap'); 

body{
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    color: #5F6A72;
    background-color: #1b1b1b;
}

/*======= Nav Scrolling Offset =====*/
.offset:before {
    height: 4rem;
    margin-top: -4rem;
    content: "";
    display: block;
}

/*===== Extra Bootstrap Column Padding =====*/
[class*="col-"] {
    padding: 1rem;
}

/*===== NAVIGATION =====*/
.navbar {
    padding: .7rem 1rem;
    text-transform: uppercase;
    font-size: 1.15rem;
    font-weight: 700;
    letter-spacing: .1rem;
    transition: background-color .5s ease 0s;
}
.narbar-brand img{
    height: 2rem;
}
.svg-inline--fa.fa-w-14 {
    color:white;
    font-size: 1.6rem;
}
.navbar-nav li {
    padding-right: .8rem;
}
.navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: #CC0033;
}
.navbar.solid {
    background: rgba(0,0,0,0.7)!important;
    transition: background-color 1s ease 0s;
}

/*===== Landing Page =====*/
.home-inner {
    background-image: url('img/fratImages/TauClassBestClass.jpg') /* Temp Photo */
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
}

.caption h1 {
    color: white;
    font-size: 15 rem;
    font-weight: 600;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black; /* Horizontal, vertical, background blur */
}

.caption h2 {
    color: white;
    font-size: 25 rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
}

.caption h3 {
    color: white;
    font-size: 6 rem;
    font-weight: 500;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black; 
}

.caption h4 {
    color: white;
    font-size: 6 rem;
    font-weight: 500;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black; 
}
/*== ALBUM GRID ====*/
.container {
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    padding: 0;
    grid-template:  "1fr 1fr 1fr 1fr" 50vh /* Manual Grid Creation */
                    "1fr 1fr 1fr 1fr" 50vh
                    "1fr 1fr 1fr 1fr" 50vh
                    "1fr 1fr 1fr 1fr" 50vh
                    "1fr 1fr 1fr 1fr" 50vh
                    "1fr 1fr 1fr 1fr" 50vh
                    "1fr 1fr 1fr 1fr" 50vh;
    grid-gap: 5px;
}

.container .box {
    position: relative;
    background: #ccc;
}

.container .box.a {
    grid-row: span 2;
}

.container .box.b {
    grid-column: span 2;
}
.container .box.c {
    grid-row: span 3;
}

.container .box.d {
    grid-column: span 3;
}

.container .box.e {
    grid-row: span 3;
    grid-column: span 2;
}

.container .box.f {
    grid-row: span 3;
    grid-column: span 2;
}

.container .box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 991px) {
    .container {
        grid-template:  "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px
                        "1fr 1fr 1fr" 250px;
        grid-gap: 5px;
    }
}

@media (max-width: 768px) {
    .container {
        grid-template:  "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px
                        "1fr 1fr" 200px;
        grid-gap: 5px;
    }
}
/*=== Album Grid Layout ===
.grid-layout {
    display: grid;
    grid-gap: 8px;
    grid-auto-flow: dense;
    padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-auto-rows: minmax(180px, auto);
}

.grid-item { /*Delete Later 
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #929796;
    background-color: #333;
    border-radius: 5px;
}

.span-2 {
    grid-column-end: span 2;
    grid-row-end: span 1;
}

.span-3 {
    grid-column-end: span 2;
    grid-row-end: span 2;
}
.span-4 {
    grid-column-end: span 3;
    grid-row-end: span 2;
}

.span-5 {
    grid-column-end: span 1;
    grid-row-end: span 2;
}

.span-6 {
    grid-column-end: span 3;
    grid-row-end: span 1;
}

.span-7 {
    grid-column-end: span 2;
    grid-row-end: span 3; 
}

.span-8 {
    grid-column-end: span 3;
    grid-row-end: span 2; 
}

.span-9 {
    grid-column-end: span 3;
    grid-row-end: span 3; 
}

/*===== ALBUM PHOTO ====== 
.row.padding {
    padding: 2rem 0 1rem;
}

img.example-image {
    max-width: 100%;
}

.row.no-padding [class *= col-] {
    padding: 0.3rem;
}

.album-item img:hover {
    border: 1px solid grey;
}

.album-item img {
    transition: transform .4s ease;
}

*/

/*===== Contact Section =====*/
footer {
    background: url('img/footer/footer.png') no-repeat; /* Change background photo */
    background-size: cover;
    color: white;
}
footer .row {
    background-color: rgba(57, 63, 70, 0.85);
    padding: 1rem 2rem 3rem;
}

footer img {
    height: 2rem;
    margin: 1.5rem 0;
}

footer a {
    color: white;
}

footer svg.svg-inline--fa{
    font-size: 1.6rem;
    margin: .3rem .5rem 0 0;
}

footer svg.svg-inline--fa:hover {
    color: #CC0033!important;
}

footer h3 {
    text-transform: uppercase;
    margin: 1.5rem 0;
}

/*===== Contact Section =====*/
.form-group {
    margin-bottom: .6rem;
}

.form-control {
    background-color: #53595f;
    border-radius: 0;
    border:.15rem solid#666B71;
    color: white!important;
    font-size: 1.1rem;
}

.form-control:focus {
    background: #53595f;
    border: .15rem solid#666B71;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #a3a3a1!important;
}

input.btn {
    cursor: pointer;
    /*border: .15rem solid#666B71; */
}

hr.socket {
    border-top: .2rem solid#666b71;
    width:100%
}





/*====== NOTES
* Change contact form border color from blue to something else
* Need a logo in png form and ico form
* Landing Page Shadow over photo until it moves or something like that
* Change Color of the button for contact form
* Might Have to Use Alternate Contact Form because domain name
* Lightbox being wierd. Will pop up black the first time. Also no arrows to navigate left and right
*/
 /* Screen resize so navbar doesn't block content. This may not work on tablets and mobile tho.*/

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/